/* layout_default.css
	This is the default layout stylesheet.

	All references to colours or element styles should be generic enough to utilise any style_<name> stylesheet.
*/

/* GLOBAL STYLES */
body {
	margin: 0;
	font-family: var(--font-fam);
	background-color: var(--main-bg-colour);
	color: var(--main-text-dark);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 100vh;
}

main {
	margin: 15px;
}

footer {
	display: flex;
	margin-top: auto;
	text-align: center;
	background-color: var(--main-element-bg-colour);
	color: var(--main-element-colour);
}

footer a,
p {
	padding: 10px 0px;
	margin: 0;
	flex: 1 0;
}

footer a {
	color: var(--main-element-colour);
}

.hidden {
	display: none !important;
}

.logo-acf {
	display: inline-block;
	padding: 17px 15px;
	background-size: 100%;
	vertical-align: middle;
}

.logo-acf:hover {
	background-color: unset;
}

/* Navigation */
nav {
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-element-bg-colour);
}

nav li,
.btn-dropdown {
	display: inline-block;
	color: var(--main-element-colour);
	text-align: center;
	padding: 5px;
	text-decoration: none;
}

nav li i {
	padding-right: 5px;
}

nav ul li:is(:focus, :hover, :active),
.nav-dropdown:is(:focus, :hover, :active) .btn-dropdown {
	background-color: var(--main-element-colour);
	color: var(--main-element-bg-colour);
}

.nav-dropdown-list {
	display: none;
	position: absolute;
	background-color: var(--main-element-bg-colour);
	box-shadow: var(--box-shadow-nav);
	z-index: 1;
	transition: 1s ease;
	padding: 5px;
}

.nav-dropdown-list li {
	display: block;
}

.nav-dropdown-list a {
	color: var(--main-element-colour);
	display: block;
	text-align: left;
}

.nav-dropdown-list li:is(:focus, :hover, :active) a {
	background-color: var(--main-element-colour);
	color: var(--main-text-dark);
}

.nav-dropdown:is(:focus, :hover, :active) .nav-dropdown-list {
	display: block;
}

.nav-settings {
	float: right;
}

/* Generic Styles */
.container-main {
	margin: 10px;
}

.flex-container {
	display: flex;
	width: auto;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-col-quarter {
	flex: 1 1 0;
}

.flex-col-half {
	flex: 2 1 0;
}

.flex-grid {
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
	width: unset;
}

/* Form Styles */

form {
	max-width: fit-content;
	margin: auto;
}

form h2 {
	margin-top: 15px;
	margin-bottom: 8px;
}

form h3 {
	margin-top: 0px;
	margin-bottom: 6px;
}

fieldset {
	padding: 7px;
	border: 2px solid var(--main-bg-accent);
	border-radius: var(--border-radius-med);
	background-color: var(--main-bg-colour);
	/* width: fit-content; */
	position: relative;
}

fieldset.content-width-half {
	float: left;
	width: 47%;
}

fieldset.content-width-full {
	width: 98%;
}

fieldset.highlight,
fieldset.highlight legend {
	border-color: var(--input-active);
	background-color: var(--input-active-bg);
}

fieldset.input-invalid {
	border: var(--border-standard);
	border-color: var(--alert-text-important);
}

fieldset.input-warn {
	border: var(--border-standard);
	border-color: var(--alert-text-warning);
}

fieldset.input-ok {
	border: var(--border-standard);
	border-color: var(--alert-text-default);
}

.flex-grid fieldset {
	width: unset;
}

div.highlight {
	margin: 3px 0px;
	padding: 2px;
	border: 2px solid var(--input-active);
	background-color: var(--input-active-bg);
	border-radius: var(--border-radius-small);
}

legend {
	padding: 3px 20px;
	margin-top: 5px;
	background: var(--main-bg-accent);
	border: solid medium var(--main-bg-colour);
	border-radius: var(--border-radius-med);
}

.form-label-checkbox {
	margin: 10px;
}

.form-input-checkbox {
	float: left;
	margin: 2px;
}

.div-function-param {
	display: inline-block;
	width: auto;
	padding: 2px;
}

button[type=reset] {
	float: right;
}

button[type=submit],
button[type=reset] {
	margin: 5px;
}

button:hover {
	cursor: pointer;
}

/* INPUT STYLES */

label+input[type=text],
label+input[type=number],
label+input[type=date],
label+input[type=datetime],
label+input[type=tel],
label+input[type=email],
label+input[type=password],
label+input[type=file],
label+input[type=time],
label+textarea,
label+select {
	display: block;
}

label {
	user-select: none;
}

input[type=checkbox] {
	float: left;
}

td>input[type=checkbox] {
	text-align: center;
	float: unset;
	height: auto;
}

input,
textarea,
select,
button {
	background-color: var(--input-bg);
	fill: var(--main-bg-accent);
	border: var(--border-thin);
	color: var(--main-text-dark);
	font-family: inherit;
}

textarea {
	font-size: var(--font-size);
}

input:focus {
	outline: none !important;
	border: 1px solid var(--input-active);
}

.input-invalid {
	border: 1px solid var(--alert-text-important);
	background-color: var(--alert-bg-important);
}

.input-text-invalid {
	color: var(--alert-text-important);
	display: block;
}

.input-warn {
	border: 1px solid var(--alert-text-warning);
	background-color: var(--alert-bg-warning);
}

.input-text-warn {
	color: var(--alert-text-warning);
	display: block;
}

.input-ok {
	border: 1px solid var(--alert-text-default);
	background-color: var(--alert-bg-default);
}

.input-text-ok {
	color: var(--alert-text-default);
	display: block;
}

.form-input-wrapper {
	padding: 2px;
}

.form-input-wrapper:nth-child(odd) {
	background-color: var(--main-bg-accent);
}

button:disabled,
input:disabled,
select:disabled {
	cursor: not-allowed;
	background-color: var(--disabledInputBG);
	color: var(--disabled-input-text);
}
.input-edited{
	background-color: var(--input-bg-edited);
}

.pill-box {
	margin-top: 1%;
	min-height: 30px;
	width: fit-content;
	min-width: 90%;
	border: var(--border-standard);
	background: var(--input-bg);
	overflow: hidden;
}

.pill-box-disabled {
	margin-top: 1%;
	min-height: 30px;
	width: fit-content;
	min-width: 90%;
	border: var(--border-standard);
	background: var(--disabled-input-text);
	cursor: not-allowed;
	overflow: hidden;
}

.pill {
	border-radius: 20px;
	border: var(--border-thin);
	background-color: var(--input-active);
	padding: 3px 5px;
	display: inline-block;
	margin: 3px;
	-webkit-user-select: none;
	user-select: none;
}

.pill>input[disabled] {
	border-radius: 20px;
	border: var(--border-thin);
	/* background-color: var(disabledInputBG); */
	padding: 3px 5px;
	display: inline-block;
	margin: 3px;
	-webkit-user-select: none;
	user-select: none;
}

.pill-highlight {
	background-color: var(--alert-bg-important);
}

.pill-btn-del {
	color: var(--btn-cancel);
	cursor: pointer;
}

.pill-btn-toggle {
	color: var(--main-text-dark);
	cursor: pointer;
	font-weight: bolder;
}

@media (min-width: 800px) {
	form {
		min-width: 85%;
		width: 80%;
		margin: auto;
	}
}

@media (min-width: 1081px) {
	form {
		min-width: 60%;
		width: 75%;
		margin: auto;
	}
}